body {
  margin: 0;
  padding: 0;
}

.box {
  height: 300px;
  /* height: auto; */
  /* Scroll property */
  /* overflow: scroll; */
  width: 400px;
  background-color: aqua;
  border: 5px solid red;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: rgb(37, 5, 163);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  /* Text horizontally center */
  text-align: justify;
}

.innerbox {
  height: 270px;
  width: 400px;
  background-color: darkgoldenrod;
  padding: 10px;
}

#inbox{
    background-color: rgb(178, 55, 2);
    color: #fff;
}
